/* CSS Reset */
body, header, nav, main, footer, h1, h2, p, ul, li, figure {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for box sizing applies to all elements */  
* {  
    box-sizing: border-box; 
}

/* images */
.photo-box {
    width: 100%;
    border: none;
}

img {
    max-width: 100%;
    display: block;
}


/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

th, td {
    border: 1px solid #cbd5e1;
    padding: .5em;
    text-align: left;
}

th {
    background-color: #f1f5f9;
    color: #17b5a7;
}

/* Footer */
.footer {
    background-color: #0f766e;
    color:  #ffffff;
    text-align: center;
    padding: 0.75em 0;
    font-size: 0.9em;
    margin-top: 1.5em;
}

/* header */
header {
    background-color: #0f766e;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

/* Style rule for banner */
.hero {
  margin: 0;
}

.hero__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Style rules for navigation area */
nav {
	background-color: #0f766e;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	display: inline-block;
	font-size: em;
	border-top: 1px solid #e5e9fc;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}


/* Main */

.wrapper {
    max-width: 1200px;  
    margin: 0 auto;      
    padding: 0 2rem;  
}

.hero {
    background-color: #e6e6e6;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
    color: #0f766e;
}

.hero h1 {
    color: #0f766e;
}

.lead {
    font-size: 1.1em;
    color: #334155;
}

body {
    font-family: "DM Serif Text", serif;
    background-color: #f8fafc;
    color: #0f172a;
    line-height: 2;
}


h2 {
    color: #0f766e;
    margin-top: 1em;
}

ul {
    margin-left: 1.25em;
}

strong {
    color: #17b5a7;
}

/* Desktop Viewport */
@media screen and (min-width: 769px), print {
nav {
    display: inline-block;
}

nav a {
    margin: 0 1em;
    font-size: 1.1em;
}

nav a:hover {
    color: #0f766e;
    background-color: #ffffff;
    text-decoration: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.hero {
    margin: 2em 0;
}

nav a:hover {
    text-decoration: underline;
}

}

/* Tablet Viewport */
@media screen and (min-width: 550px), print{

/* Tablet Viewport: Show tab-desk class, hide mobile class */  
.tab-desk {
    display: block;
} 
.mobile,

.mobile-nav {
    display: none;  
} 

nav a {
    font-size: 1.1em;
    margin: 0 1em;
}

.hero {
    padding: 1.5em;
}

.wrapper {
    padding: 2em;
}

h2 {
    font-size: 1.3em;
}



/* Tablet Viewport: Style rule for header content */     
span.tab-desk {
    display: inline;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

}

/* Style rules for mobile viewport */
.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a:hover {
    text-decoration: underline;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0; 
    top: 0;  
}
  
.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #0f766e;
}


nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 1em;
    text-align: center;
}

/* Mobile viewport: hide desktop/tab navigation and keep hamburger links collapsed */
@media screen and (max-width: 549px) {
    .tab-desk {
        display: none;
    }

    #menu-links {
        display: none;
    }
}

/* Quiz styles */

.question {
  color: #0f766e;
  font-weight: 600;
}

